In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Import Statsmodels
from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import adfuller
from statsmodels.tools.eval_measures import rmse, aic

In [4]:
df = pd.read_csv('COVID-19_and_Price_dataset.csv')

print(df.shape)  
df.tail()

(115, 834)

,Date,Afghanistan_total_cases,Afghanistan_new_cases,Afghanistan_total_deaths,Afghanistan_new_deaths,Albania_total_cases,Albania_new_cases,Albania_total_deaths,Albania_new_deaths,Algeria_total_cases,...,Zambia_new_deaths,Zimbabwe_total_cases,Zimbabwe_new_cases,Zimbabwe_total_deaths,Zimbabwe_new_deaths,World_total_cases,World_new_cases,World_total_deaths,World_new_deaths,Price
110,2020-06-09,20917,575,369,12,1263,17,34,0,10265,...,3,287,5,4,0,7084384,105851,408161,3230,27.558533
111,2020-06-10,21459,542,384,15,1299,36,34,0,10382,...,0,314,27,4,0,7209978,125594,413090,4929,27.400933
112,2020-06-11,22143,684,405,21,1341,42,34,0,10484,...,0,320,6,4,0,7343440,133462,418329,5239,27.222933
113,2020-06-12,22890,747,426,21,1385,44,35,1,10589,...,0,332,12,4,0,7481017,137577,423091,4762,27.057200
114,2020-06-15,24766,664,471,20,1521,57,36,0,10919,...,1,383,27,4,0,7881616,122105,435154,3129,26.922533

In [5]:
df = df.dropna(axis=1)

In [6]:
df.tail()

,Date,Afghanistan_total_cases,Afghanistan_new_cases,Afghanistan_total_deaths,Afghanistan_new_deaths,Albania_total_cases,Albania_new_cases,Albania_total_deaths,Albania_new_deaths,Algeria_total_cases,...,Zambia_new_deaths,Zimbabwe_total_cases,Zimbabwe_new_cases,Zimbabwe_total_deaths,Zimbabwe_new_deaths,World_total_cases,World_new_cases,World_total_deaths,World_new_deaths,Price
110,2020-06-09,20917,575,369,12,1263,17,34,0,10265,...,3,287,5,4,0,7084384,105851,408161,3230,27.558533
111,2020-06-10,21459,542,384,15,1299,36,34,0,10382,...,0,314,27,4,0,7209978,125594,413090,4929,27.400933
112,2020-06-11,22143,684,405,21,1341,42,34,0,10484,...,0,320,6,4,0,7343440,133462,418329,5239,27.222933
113,2020-06-12,22890,747,426,21,1385,44,35,1,10589,...,0,332,12,4,0,7481017,137577,423091,4762,27.057200
114,2020-06-15,24766,664,471,20,1521,57,36,0,10919,...,1,383,27,4,0,7881616,122105,435154,3129,26.922533

In [7]:
df.shape

(115, 708)

In [8]:
cor = df.corr()
#Correlation with output variable
cor_target = abs(cor["Price"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target>0.98]
relevant_features

Albania_total_cases                 0.985852
Algeria_total_deaths                0.980385
Andorra_total_deaths                0.984346
Australia_total_deaths              0.987319
Austria_total_deaths                0.985505
Bahamas_total_cases                 0.988639
Belgium_total_cases                 0.990456
Bermuda_total_cases                 0.987915
BosniaandHerzegovina_total_cases    0.987825
BritishVirginIslands_total_cases    0.988040
BurkinaFaso_total_cases             0.991982
BurkinaFaso_total_deaths            0.987984
Cuba_total_cases                    0.981009
Cyprus_total_cases                  0.983114
Cyprus_total_deaths                 0.983710
CzechRepublic_total_cases           0.989432
CzechRepublic_total_deaths          0.983694
Denmark_total_cases                 0.995615
Denmark_total_deaths                0.988755
France_total_cases                  0.988345
France_total_deaths                 0.983850
Georgia_total_cases                 0.987645
Germany_total_cases                 0.985502
Germany_total_deaths                0.981682
Grenada_total_cases                 0.986665
Guyana_total_deaths                 0.990921
Iran_total_cases                    0.986059
Iran_total_deaths                   0.996206
Italy_total_cases                   0.987543
Italy_total_deaths                  0.993003
Jamaica_total_deaths                0.986419
Japan_total_cases                   0.985000
Jordan_total_cases                  0.984086
Lebanon_total_cases                 0.982165
Lebanon_total_deaths                0.980423
Luxembourg_total_deaths             0.988049
Malta_total_cases                   0.992165
Montenegro_total_deaths             0.980338
Netherlands_total_cases             0.991694
Netherlands_total_deaths            0.988691
Norway_total_deaths                 0.983973
Palestine_total_cases               0.991377
Romania_total_cases                 0.981015
SanMarino_total_cases               0.997319
Singapore_total_deaths              0.984807
Slovakia_total_cases                0.987316
Slovenia_total_deaths               0.983185
Spain_total_cases                   0.981159
Switzerland_total_deaths            0.987654
Tunisia_total_cases                 0.981329
Tunisia_total_deaths                0.981488
Turkey_total_cases                  0.981319
Uruguay_total_cases                 0.993919
Uruguay_total_deaths                0.981071
Price                               1.000000
Name: Price, dtype: float64

In [9]:
df = df[[ 'BritishVirginIslands_total_cases' , 'Cyprus_total_deaths',
        'Grenada_total_cases', 'Guyana_total_deaths'   , 'Niger_total_cases' ,
         'Singapore_total_deaths', 'SriLanka_total_deaths','Price'] ]

In [10]:
df.shape

(115, 8)

#### to run a Granger Causality test, the time series' you are using must be stationary

In [11]:

from statsmodels.tsa.stattools import grangercausalitytests
maxlag=12
test = 'ssr_chi2test'
def grangers_causation_matrix(data, variables, test='ssr_chi2test', verbose=False):    

    df = pd.DataFrame(np.zeros((len(variables), len(variables))), columns=variables, index=variables)
    for c in df.columns:
        for r in df.index:
            test_result = grangercausalitytests(data[[r, c]], maxlag=maxlag, verbose=False)
            p_values = [round(test_result[i+1][0][test][1],4) for i in range(maxlag)]
            if verbose: print(f'Y = {r}, X = {c}, P Values = {p_values}')
            min_p_value = np.min(p_values)
            df.loc[r, c] = min_p_value
    df.columns = [var + '_x' for var in variables]
    df.index = [var + '_y' for var in variables]
    return df

grangers_causation_matrix(df, variables = df.columns)

,BritishVirginIslands_total_cases_x,Cyprus_total_deaths_x,Grenada_total_cases_x,Guyana_total_deaths_x,Niger_total_cases_x,Singapore_total_deaths_x,SriLanka_total_deaths_x,Price_x
BritishVirginIslands_total_cases_y,1.0000,0.0,0.0004,0.0000,0.0001,0.0000,0.0222,0.0000
Cyprus_total_deaths_y,0.0000,1.0,0.0000,0.0000,0.0136,0.0000,0.2457,0.0000
Grenada_total_cases_y,0.4568,0.0,1.0000,0.0094,0.0264,0.0018,0.1239,0.0000
Guyana_total_deaths_y,0.0000,0.0,0.0000,1.0000,0.0000,0.0016,0.0000,0.0000
Niger_total_cases_y,0.0000,0.0,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000
Singapore_total_deaths_y,0.0000,0.0,0.0000,0.0000,0.0025,1.0000,0.0001,0.0000
SriLanka_total_deaths_y,0.0000,0.0,0.0000,0.0000,0.0027,0.0002,1.0000,0.0008
Price_y,0.0000,0.0,0.1141,0.0000,0.0000,0.0000,0.0000,1.0000

In [12]:
nobs = 30
df_train, df_test = df[0:-nobs], df[-nobs:]

# Check size
print(df_train.shape)  # (85, 8)
print(df_test.shape)  # (30, 8)

(85, 8)
(30, 8)

In [13]:
test =df_test[['Price']]

In [14]:
def adfuller_test(series, signif=0.05, name='', verbose=False):
    r = adfuller(series, autolag='AIC')
    output = {'test_statistic':round(r[0], 4), 'pvalue':round(r[1], 4), 'n_lags':round(r[2], 4), 'n_obs':r[3]}
    p_value = output['pvalue'] 
    def adjust(val, length= 6): return str(val).ljust(length)

    # Print Summary
    print(f'    Augmented Dickey-Fuller Test on "{name}"', "\n   ", '-'*47)
    print(f' Null Hypothesis: Data has unit root. Non-Stationary.')
    print(f' Significance Level    = {signif}')
    print(f' Test Statistic        = {output["test_statistic"]}')
    print(f' No. Lags Chosen       = {output["n_lags"]}')

    for key,val in r[4].items():
        print(f' Critical value {adjust(key)} = {round(val, 3)}')

    if p_value <= signif:
        print(f" => P-Value = {p_value}. Rejecting Null Hypothesis.")
        print(f" => Series is Stationary.")
    else:
        print(f" => P-Value = {p_value}. Weak evidence to reject the Null Hypothesis.")
        print(f" => Series is Non-Stationary.")

In [15]:
df_train.head(1)

,BritishVirginIslands_total_cases,Cyprus_total_deaths,Grenada_total_cases,Guyana_total_deaths,Niger_total_cases,Singapore_total_deaths,SriLanka_total_deaths,Price
0,0,0,0,0,0,0,0,56.9496

In [16]:
# ADF Test on each column
for name, column in df_train.iteritems():
    adfuller_test(column, name=column.name)
    print('\n')

    Augmented Dickey-Fuller Test on "BritishVirginIslands_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = 1.4777
 No. Lags Chosen       = 0
 Critical value 1%     = -3.511
 Critical value 5%     = -2.897
 Critical value 10%    = -2.585
 => P-Value = 0.9974. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "Cyprus_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = 0.2014
 No. Lags Chosen       = 3
 Critical value 1%     = -3.514
 Critical value 5%     = -2.898
 Critical value 10%    = -2.586
 => P-Value = 0.9723. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "Grenada_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = 1.9341
 No. Lags Chosen       = 0
 Critical value 1%     = -3.511
 Critical value 5%     = -2.897
 Critical value 10%    = -2.585
 => P-Value = 0.9986. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "Guyana_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = 2.4273
 No. Lags Chosen       = 0
 Critical value 1%     = -3.511
 Critical value 5%     = -2.897
 Critical value 10%    = -2.585
 => P-Value = 0.999. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "Niger_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = 0.2767
 No. Lags Chosen       = 7
 Critical value 1%     = -3.518
 Critical value 5%     = -2.9
 Critical value 10%    = -2.587
 => P-Value = 0.9763. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "Singapore_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -0.3424
 No. Lags Chosen       = 9
 Critical value 1%     = -3.521
 Critical value 5%     = -2.901
 Critical value 10%    = -2.588
 => P-Value = 0.9193. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "SriLanka_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -0.1792
 No. Lags Chosen       = 6
 Critical value 1%     = -3.517
 Critical value 5%     = -2.899
 Critical value 10%    = -2.587
 => P-Value = 0.941. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "Price"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = 0.1822
 No. Lags Chosen       = 3
 Critical value 1%     = -3.514
 Critical value 5%     = -2.898
 Critical value 10%    = -2.586
 => P-Value = 0.9712. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.

In [17]:
# 1st difference
df_differenced = df_train.diff().dropna()

In [18]:
# ADF Test on each column of 1st Differences Dataframe
for name, column in df_differenced.iteritems():
    adfuller_test(column, name=column.name)
    print('\n')

    Augmented Dickey-Fuller Test on "BritishVirginIslands_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -4.927
 No. Lags Chosen       = 1
 Critical value 1%     = -3.513
 Critical value 5%     = -2.897
 Critical value 10%    = -2.586
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Cyprus_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -3.1011
 No. Lags Chosen       = 2
 Critical value 1%     = -3.514
 Critical value 5%     = -2.898
 Critical value 10%    = -2.586
 => P-Value = 0.0265. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Grenada_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -7.9668
 No. Lags Chosen       = 0
 Critical value 1%     = -3.512
 Critical value 5%     = -2.897
 Critical value 10%    = -2.586
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Guyana_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -0.8481
 No. Lags Chosen       = 12
 Critical value 1%     = -3.526
 Critical value 5%     = -2.903
 Critical value 10%    = -2.589
 => P-Value = 0.8046. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "Niger_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -2.7416
 No. Lags Chosen       = 6
 Critical value 1%     = -3.518
 Critical value 5%     = -2.9
 Critical value 10%    = -2.587
 => P-Value = 0.0671. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "Singapore_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -0.678
 No. Lags Chosen       = 8
 Critical value 1%     = -3.521
 Critical value 5%     = -2.901
 Critical value 10%    = -2.588
 => P-Value = 0.8524. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.


    Augmented Dickey-Fuller Test on "SriLanka_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -3.0562
 No. Lags Chosen       = 5
 Critical value 1%     = -3.517
 Critical value 5%     = -2.899
 Critical value 10%    = -2.587
 => P-Value = 0.03. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Price"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -1.031
 No. Lags Chosen       = 2
 Critical value 1%     = -3.514
 Critical value 5%     = -2.898
 Critical value 10%    = -2.586
 => P-Value = 0.7418. Weak evidence to reject the Null Hypothesis.
 => Series is Non-Stationary.

In [19]:
# Second Differencing
df_differenced = df_differenced.diff().dropna()

In [20]:
# ADF Test on each column of 2nd Differences Dataframe
for name, column in df_differenced.iteritems():
    adfuller_test(column, name=column.name)
    print('\n')

    Augmented Dickey-Fuller Test on "BritishVirginIslands_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -7.6173
 No. Lags Chosen       = 3
 Critical value 1%     = -3.516
 Critical value 5%     = -2.899
 Critical value 10%    = -2.587
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Cyprus_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -5.6553
 No. Lags Chosen       = 7
 Critical value 1%     = -3.521
 Critical value 5%     = -2.901
 Critical value 10%    = -2.588
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Grenada_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -5.1419
 No. Lags Chosen       = 8
 Critical value 1%     = -3.522
 Critical value 5%     = -2.901
 Critical value 10%    = -2.588
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Guyana_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -3.3519
 No. Lags Chosen       = 12
 Critical value 1%     = -3.527
 Critical value 5%     = -2.904
 Critical value 10%    = -2.589
 => P-Value = 0.0127. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Niger_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -9.698
 No. Lags Chosen       = 2
 Critical value 1%     = -3.515
 Critical value 5%     = -2.898
 Critical value 10%    = -2.586
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Singapore_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -6.5077
 No. Lags Chosen       = 7
 Critical value 1%     = -3.521
 Critical value 5%     = -2.901
 Critical value 10%    = -2.588
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "SriLanka_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -13.9034
 No. Lags Chosen       = 1
 Critical value 1%     = -3.514
 Critical value 5%     = -2.898
 Critical value 10%    = -2.586
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Price"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -9.3765
 No. Lags Chosen       = 1
 Critical value 1%     = -3.514
 Critical value 5%     = -2.898
 Critical value 10%    = -2.586
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.

In [21]:
# third Differencing
df_differenced = df_differenced.diff().dropna()

In [22]:
# ADF Test on each column of 3rd Differences Dataframe
for name, column in df_differenced.iteritems():
    adfuller_test(column, name=column.name)
    print('\n')

    Augmented Dickey-Fuller Test on "BritishVirginIslands_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -5.9622
 No. Lags Chosen       = 7
 Critical value 1%     = -3.522
 Critical value 5%     = -2.901
 Critical value 10%    = -2.588
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Cyprus_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -4.9536
 No. Lags Chosen       = 12
 Critical value 1%     = -3.529
 Critical value 5%     = -2.904
 Critical value 10%    = -2.59
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Grenada_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -6.1639
 No. Lags Chosen       = 8
 Critical value 1%     = -3.523
 Critical value 5%     = -2.902
 Critical value 10%    = -2.588
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Guyana_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -5.6927
 No. Lags Chosen       = 11
 Critical value 1%     = -3.527
 Critical value 5%     = -2.904
 Critical value 10%    = -2.589
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Niger_total_cases"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -10.4825
 No. Lags Chosen       = 4
 Critical value 1%     = -3.518
 Critical value 5%     = -2.9
 Critical value 10%    = -2.587
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Singapore_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -7.6064
 No. Lags Chosen       = 10
 Critical value 1%     = -3.526
 Critical value 5%     = -2.903
 Critical value 10%    = -2.589
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "SriLanka_total_deaths"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -11.1471
 No. Lags Chosen       = 3
 Critical value 1%     = -3.517
 Critical value 5%     = -2.899
 Critical value 10%    = -2.587
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.


    Augmented Dickey-Fuller Test on "Price"
    -----------------------------------------------
 Null Hypothesis: Data has unit root. Non-Stationary.
 Significance Level    = 0.05
 Test Statistic        = -5.8987
 No. Lags Chosen       = 7
 Critical value 1%     = -3.522
 Critical value 5%     = -2.901
 Critical value 10%    = -2.588
 => P-Value = 0.0. Rejecting Null Hypothesis.
 => Series is Stationary.

In [23]:
model = VAR(df_differenced)
for i in [1,2,3,4,5]:
    result = model.fit(i)
    print('Lag Order =', i)
    print('AIC : ', result.aic)
    print('BIC : ', result.bic)
    print('FPE : ', result.fpe)
    print('HQIC: ', result.hqic, '\n')

Lag Order = 1
AIC :  -6.013451565056346
BIC :  -3.885052316458622
FPE :  0.002463724789011075
HQIC:  -5.159509896191297

Lag Order = 2
AIC :  -12.264439337571751
BIC :  -8.214994058626154
FPE :  4.97129931378965e-06
HQIC:  -10.640900851764274

Lag Order = 3
AIC :  -20.927140326811738
BIC :  -14.928538168667378
FPE :  9.763727900388386e-10
HQIC:  -18.523916774534058

Lag Order = 4
AIC :  -76.66485407551855
BIC :  -68.68830112364608
FPE :  7.978496693040108e-34
HQIC:  -73.47169341302866

Lag Order = 5
AIC :  -384.5629752255239
BIC :  -374.5789729090563
FPE :  2.5768823404929766e-167
HQIC:  -380.56946200812416

C:\Users\ramsu\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

In [45]:
x = model.select_order(maxlags=5)
x.summary()

In [24]:
model_fitted = model.fit()
model_fitted.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Thu, 15, Sep, 2022
Time:                     12:21:32
--------------------------------------------------------------------
No. of Equations:         8.00000    BIC:                   -3.88505
Nobs:                     81.0000    HQIC:                  -5.15951
Log likelihood:          -603.927    FPE:                 0.00246372
AIC:                     -6.01345    Det(Omega_mle):      0.00106055
--------------------------------------------------------------------
Results for equation BritishVirginIslands_total_cases
======================================================================================================
                                         coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------------------------------
const                                       0.003155         0.037985            0.083           0.934
L1.BritishVirginIslands_total_cases        -0.791239         0.118275           -6.690           0.000
L1.Cyprus_total_deaths                     -0.271582         0.037046           -7.331           0.000
L1.Grenada_total_cases                     -0.071648         0.046291           -1.548           0.122
L1.Guyana_total_deaths                      0.015946         0.066832            0.239           0.811
L1.Niger_total_cases                        0.002827         0.001035            2.731           0.006
L1.Singapore_total_deaths                   0.089206         0.052342            1.704           0.088
L1.SriLanka_total_deaths                   -0.012436         0.081927           -0.152           0.879
L1.Price                                   -0.655410         0.272432           -2.406           0.016
======================================================================================================

Results for equation Cyprus_total_deaths
======================================================================================================
                                         coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------------------------------
const                                      -0.008879         0.100520           -0.088           0.930
L1.BritishVirginIslands_total_cases        -0.710284         0.312989           -2.269           0.023
L1.Cyprus_total_deaths                     -0.476716         0.098033           -4.863           0.000
L1.Grenada_total_cases                      0.501941         0.122499            4.098           0.000
L1.Guyana_total_deaths                     -0.109647         0.176856           -0.620           0.535
L1.Niger_total_cases                       -0.001133         0.002739           -0.414           0.679
L1.Singapore_total_deaths                  -0.565750         0.138512           -4.084           0.000
L1.SriLanka_total_deaths                   -0.235957         0.216803           -1.088           0.276
L1.Price                                   -1.878285         0.720932           -2.605           0.009
======================================================================================================

Results for equation Grenada_total_cases
======================================================================================================
                                         coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------------------------------
const                                      -0.014040         0.104950           -0.134           0.894
L1.BritishVirginIslands_total_cases        -0.947556         0.326785           -2.900           0.004
L1.Cyprus_total_deaths                     -1.012517         0.102354           -9.892           0.000
L1.Grenada_total_cases                     -0.340396         0.127898           -2.661           0.008
L1.Guyana_total_deaths                     -0.142176         0.184651           -0.770           0.441
L1.Niger_total_cases                        0.002887         0.002860            1.010           0.313
L1.Singapore_total_deaths                  -0.166813         0.144618           -1.153           0.249
L1.SriLanka_total_deaths                    0.034529         0.226359            0.153           0.879
L1.Price                                   -1.106809         0.752711           -1.470           0.141
======================================================================================================

Results for equation Guyana_total_deaths
======================================================================================================
                                         coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------------------------------
const                                       0.010737         0.060162            0.178           0.858
L1.BritishVirginIslands_total_cases        -0.162041         0.187327           -0.865           0.387
L1.Cyprus_total_deaths                     -0.122113         0.058674           -2.081           0.037
L1.Grenada_total_cases                      0.059553         0.073317            0.812           0.417
L1.Guyana_total_deaths                     -0.534897         0.105850           -5.053           0.000
L1.Niger_total_cases                        0.002110         0.001639            1.287           0.198
L1.Singapore_total_deaths                  -0.096927         0.082901           -1.169           0.242
L1.SriLanka_total_deaths                    0.389462         0.129759            3.001           0.003
L1.Price                                    0.127299         0.431486            0.295           0.768
======================================================================================================

Results for equation Niger_total_cases
======================================================================================================
                                         coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------------------------------
const                                       0.159704         3.517015            0.045           0.964
L1.BritishVirginIslands_total_cases        22.309268        10.950964            2.037           0.042
L1.Cyprus_total_deaths                     -5.153605         3.430012           -1.503           0.133
L1.Grenada_total_cases                    -10.631439         4.286027           -2.480           0.013
L1.Guyana_total_deaths                     19.465102         6.187885            3.146           0.002
L1.Niger_total_cases                       -0.370185         0.095826           -3.863           0.000
L1.Singapore_total_deaths                   2.466948         4.846305            0.509           0.611
L1.SriLanka_total_deaths                   47.817926         7.585570            6.304           0.000
L1.Price                                   57.442059        25.224245            2.277           0.023
======================================================================================================

Results for equation Singapore_total_deaths
======================================================================================================
                                         coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------------------------------
const                                       0.003712         0.083727            0.044           0.965
L1.BritishVirginIslands_total_cases        -0.498638         0.260703           -1.913           0.056
L1.Cyprus_total_deaths                      0.011866         0.081656            0.145           0.884
L1.Grenada_total_cases                      0.359057         0.102035            3.519           0.000
L1.Guyana_total_deaths                      0.265786         0.147311            1.804           0.071
L1.Niger_total_cases                       -0.005509         0.002281           -2.415           0.016
L1.Singapore_total_deaths                  -0.630438         0.115373           -5.464           0.000
L1.SriLanka_total_deaths                   -0.116752         0.180585           -0.647           0.518
L1.Price                                   -0.265336         0.600498           -0.442           0.659
======================================================================================================

Results for equation SriLanka_total_deaths
======================================================================================================
                                         coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------------------------------
const                                      -0.000899         0.030778           -0.029           0.977
L1.BritishVirginIslands_total_cases         0.190539         0.095832            1.988           0.047
L1.Cyprus_total_deaths                     -0.002333         0.030016           -0.078           0.938
L1.Grenada_total_cases                      0.067867         0.037507            1.809           0.070
L1.Guyana_total_deaths                     -0.407052         0.054150           -7.517           0.000
L1.Niger_total_cases                       -0.006371         0.000839           -7.598           0.000
L1.Singapore_total_deaths                   0.021833         0.042410            0.515           0.607
L1.SriLanka_total_deaths                   -0.805892         0.066382          -12.140           0.000
L1.Price                                   -0.574071         0.220738           -2.601           0.009
======================================================================================================

Results for equation Price
======================================================================================================
                                         coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------------------------------
const                                       0.001246         0.016463            0.076           0.940
L1.BritishVirginIslands_total_cases         0.085784         0.051261            1.673           0.094
L1.Cyprus_total_deaths                      0.017690         0.016056            1.102           0.271
L1.Grenada_total_cases                     -0.032379         0.020063           -1.614           0.107
L1.Guyana_total_deaths                      0.023309         0.028965            0.805           0.421
L1.Niger_total_cases                        0.000161         0.000449            0.360           0.719
L1.Singapore_total_deaths                  -0.000268         0.022685           -0.012           0.991
L1.SriLanka_total_deaths                    0.033724         0.035507            0.950           0.342
L1.Price                                   -0.558826         0.118073           -4.733           0.000
======================================================================================================

Correlation matrix of residuals
                                    BritishVirginIslands_total_cases  Cyprus_total_deaths  Grenada_total_cases  Guyana_total_deaths  Niger_total_cases  Singapore_total_deaths  SriLanka_total_deaths     Price
BritishVirginIslands_total_cases                            1.000000            -0.607418             0.361217             0.074168          -0.146484                0.026466               0.019883 -0.380863
Cyprus_total_deaths                                        -0.607418             1.000000            -0.345938            -0.159100           0.477303                0.270545               0.159703 -0.059164
Grenada_total_cases                                         0.361217            -0.345938             1.000000            -0.166074           0.433051                0.234836               0.138818  0.047721
Guyana_total_deaths                                         0.074168            -0.159100            -0.166074             1.000000          -0.126683               -0.040291              -0.372384 -0.387864
Niger_total_cases                                          -0.146484             0.477303             0.433051            -0.126683           1.000000                0.492312               0.225201 -0.227740
Singapore_total_deaths                                      0.026466             0.270545             0.234836            -0.040291           0.492312                1.000000               0.177964 -0.344701
SriLanka_total_deaths                                       0.019883             0.159703             0.138818            -0.372384           0.225201                0.177964               1.000000 -0.053002
Price                                                      -0.380863            -0.059164             0.047721            -0.387864          -0.227740               -0.344701              -0.053002  1.000000

In [25]:
# Get the lag order
lag_order = model_fitted.k_ar
print(lag_order)  #> 4

# Input data for forecasting
forecast_input = df_differenced.values[-lag_order:]
forecast_input

1

array([[ 0.        ,  0.        , -4.        ,  1.        ,  6.        ,
         1.        ,  0.        , -0.06293333]])

In [26]:
# Forecast
fc = model_fitted.forecast(y=forecast_input, steps=nobs)
df_forecast = pd.DataFrame(fc, index=df.index[-nobs:], columns=df.columns + '_2d')
df_forecast

,BritishVirginIslands_total_cases_2d,Cyprus_total_deaths_2d,Grenada_total_cases_2d,Guyana_total_deaths_2d,Niger_total_cases_2d,Singapore_total_deaths_2d,SriLanka_total_deaths_2d,Price_2d
85,0.453107,-2.580632,1.125532,-0.854653,58.781384,-1.813522,-0.659684,0.189938
86,0.139316,2.316463,2.147137,0.843679,-51.902286,0.770230,0.524222,-0.180316
87,-0.842913,-0.388850,-3.402973,-0.621069,20.747801,0.743908,-0.148914,0.114180
88,1.061644,-1.488495,2.229328,0.252565,1.040835,-1.563726,-0.200226,-0.047914
89,-0.690969,2.058679,0.002329,0.087824,-3.839046,1.340445,0.401443,0.020303
90,0.082434,-1.394825,-1.700331,-0.154621,0.910159,-0.479310,-0.454398,-0.018426
91,0.413642,0.172959,2.008189,0.018213,-0.051774,-0.350453,0.326115,0.030342
92,-0.570051,0.685248,-1.231294,0.197173,3.992640,0.700501,-0.081166,-0.030680
93,0.454357,-0.894360,0.149213,-0.254354,-4.554232,-0.539607,-0.202059,0.023794
94,-0.202296,0.510968,0.489912,0.158294,0.427363,0.135068,0.367835,-0.007060
95,0.005182,-0.030660,-0.529769,0.055796,8.244618,0.200048,-0.363978,-0.002859
96,0.093779,-0.301241,0.165519,-0.191868,-12.975822,-0.302907,0.188302,0.010202
97,-0.076881,0.294718,0.181329,0.221432,11.956289,0.199569,0.025457,-0.007233
98,0.030508,-0.146906,-0.322694,-0.105562,-3.823816,-0.023231,-0.182246,0.005931
99,0.025847,-0.061577,0.210628,-0.015058,-4.042353,-0.101751,0.193647,-0.000819
100,-0.038279,0.127484,-0.032842,0.111314,8.979416,0.125745,-0.107461,0.001567
101,0.039857,-0.130055,-0.111994,-0.095020,-6.897778,-0.074506,-0.024792,0.000792
102,-0.012906,0.033347,0.122293,0.047431,2.289839,0.004484,0.099922,0.001404
103,0.001014,0.009228,-0.076188,0.034160,3.345132,0.039580,-0.110267,0.000828
104,0.019664,-0.057706,-0.004937,-0.052981,-4.756142,-0.045687,0.048137,0.001107
105,-0.016067,0.025794,0.029297,0.055925,3.930323,0.026459,0.014090,0.001086
106,0.020238,-0.025978,-0.036639,-0.006625,-0.208072,-0.002853,-0.061239,0.001174
107,-0.004135,-0.014440,0.002961,-0.011871,-1.785208,-0.011821,0.053169,0.000800
108,0.002660,-0.001608,0.002947,0.037885,3.099415,0.014378,-0.028812,0.001324
109,0.011414,-0.020012,-0.017233,-0.015494,-1.480090,-0.009632,-0.012584,0.001018
110,-0.005007,-0.006213,-0.000751,0.011632,0.379994,0.002904,0.025236,0.000838
111,0.009513,-0.013615,-0.003846,0.016496,1.435807,0.001865,-0.029801,0.001445
112,0.003512,-0.011249,-0.009100,-0.006768,-1.064822,-0.004179,0.008049,0.000749
113,0.000001,-0.009571,-0.004845,0.016009,1.072818,0.004124,0.001710,0.001167
114,0.008969,-0.014649,-0.003801,0.005732,0.334057,-0.002906,-0.016515,0.001184

In [27]:
def invert_transformation(df_train, df_forecast, second_diff=False):
    df_fc = df_forecast.copy()
    columns = df_train.columns
    for col in columns:        
        # Roll back 2nd Diff
        if second_diff:
            df_fc[str(col)+'_1d'] = (df_train[col].iloc[-1]-df_train[col].iloc[-2]) + df_fc[str(col)+'_2d'].cumsum()
        # Roll back 1st Diff
        df_fc[str(col)+'_forecast'] = df_train[col].iloc[-1] + df_fc[str(col)+'_1d'].cumsum()
    return df_fc

In [28]:
df_results = invert_transformation(df_train, df_forecast, second_diff=True)

In [29]:
predict = df_results['Price_forecast']

In [30]:
len(predict)

30

In [32]:
predict

85     34.783272
86     34.277961
87     33.886830
88     33.447785
89     33.029043
90     32.591875
91     32.185048
92     31.747542
93     31.333829
94     30.913057
95     30.489426
96     30.075997
97     29.655334
98     29.240603
99     28.825052
100    28.411068
101    27.997875
102    27.586087
103    27.175126
104    26.765273
105    26.356506
106    25.948914
107    25.542122
108    25.136654
109    24.732204
110    24.328592
111    23.926426
112    23.525009
113    23.124758
114    22.725693
Name: Price_forecast, dtype: float64

In [31]:
import math
from sklearn.metrics import mean_squared_error
math.sqrt( mean_squared_error(test,predict))

1.986291591844842